<div id="check">
        	<div class="centre">
            	<form action="contact.php" method="post">
                	<div class="field calendar"><input name="arrival" type="text" placeholder="Заселение" id="arrival" readonly /><i class="fa fa-calendar-o"></i></div>
                    <div class="field calendar"><input name="departure" type="text" placeholder="Отъезд" id="departure" readonly /><i class="fa fa-calendar-o"></i></div>
                    <div class="field select">
                        <select name="Комнаты">
                            <option value="1 Room">1 Комната</option>
                            <option value="2 Rooms">2 Комнаты</option>
                            <option value="3 Rooms">3 Комнаты</option>
                        </select>
                        <i class="fa fa-chevron-down"></i>
                    </div>
                    <div class="field select">
                        <select name="adults">
                            <option value="1 Adult">1 Человек</option>
                            <option value="2 Adults">2 Человека</option>
                            <option value="3 Adults">3 Человека</option>
                            <option value="4 Adults">4 Человека</option>
                            <option value="5 Adults">5 Человек</option>
                        </select>
                        <i class="fa fa-chevron-down"></i>
                    </div>
                    <div class="field select">
                        <select name="children">
                        	<option value="0 Children">Без детей</option>
                            <option value="1 Child">1 Ребёнок</option>
                            <option value="2 Children">2 Ребёнока</option>
                            <option value="3 Children">3 Ребёнока</option>
                            <option value="4 Children">4 Ребёнока</option>
                        </select>
                        <i class="fa fa-chevron-down"></i>
                    </div>
                    <button><span data-hover="Book a Room">Бронировать</span></button>
                </form>
            </div>
        </div>