{% extends "base.html" %}
{% load static %}
{% block header %}
	<header>
    	<div id="header">
        	<div class="h1">
                <h1><span>Контакты</span>
                <span class="tagline">Задавайте вопросы по размещению</span></h1>
            </div>
        </div>
    </header>
{% endblock%}
{% block content %}
    <main>
    	<div class="centre">
            <!-- Contact Form | START -->
        	<div id="contact">
            	<img src="http://dummyimage.com/1200x400" width="1200" height="400" alt="" />
                <form>
                    <div class="col">
                        <div class="field"><input name="contact-name" type="text" placeholder="Имя" id="contact-name" /></div>
                        <div class="field"><input name="contact-email" type="text" placeholder="Email" id="contact-email" /></div>
                        <div class="field"><input name="contact-phone" type="text" placeholder="Номер телефона" id="contact-phone" /></div>
                    </div>
                    <div class="col">
                        <div class="field calendar"><input name="contact-arrival" type="text" placeholder="Прибытие" id="contact-arrival" readonly /><i class="fa fa-calendar-o"></i></div>
                        <div class="field calendar"><input name="contact-departure" type="text" placeholder="Отъезд" id="contact-departure" readonly /><i class="fa fa-calendar-o"></i></div>
                        <div class="select">
                        	<select name="contact-rooms" id="contact-rooms" class="infants">
                                <option value="1" selected="selected">1 Комната</option>
                                <option value="2" >2 Rooms</option>
                                <option value="3" >3 Rooms</option>
                            </select>
                            <select name="contact-adults" id="contact-adults" class="adults">
                                <option value="1" >1 Adult</option>
                                <option value="2" selected="selected">2 Человека</option>
                                <option value="3" >3 Adults</option>
                                <option value="4" >4 Adults</option>
                                <option value="5" >5 Adults</option>
                            </select>
                            <select name="contact-children" id="contact-children" class="children">
                                <option value="0" selected="selected">Без детей</option>
                                <option value="1" >1 Children</option>
                                <option value="2" >2 Children</option>
                                <option value="3" >3 Children</option>
                                <option value="4" >4 Children</option>
                            </select>
                        </div>
                    </div>
                    <div class="col">
                        <div class="field"><textarea name="contact-message" placeholder="Message" id="contact-message"></textarea></div>
                    </div>
                    <button><span data-hover="Send Booking Request">Отправить</span></button>
                </form>
            </div>
            <!-- Contact Form | END -->
            <h2 style="margin:0;"><strong>+7 954 234 12 98</strong></h2>
            <p style="margin:0;"><a href="mailto:stay@basehotel.com">stay@basehotel.com</a><br />
            13 улица Строителей<br />
            <a href="location.html"><i class="fa fa-map-marker"></i> Ульяновская область</a></p>
        </div>
        <!-- Google Map | START -->
        <script>
			function initialize() {
			var latlng = new google.maps.LatLng(-31.957482,115.856868);
			var myOptions = {
			zoom: 14,
			center: latlng,
			mapTypeId: google.maps.MapTypeId.ROADMAP,
			scrollwheel: false
			};
			var map = new google.maps.Map(document.getElementById('googlemap'), myOptions);
			var marker = new google.maps.Marker({
			position: latlng, 
			map: map,
			icon: "system/images/point.png"
			});
			}
			function loadScript() {
			var script = document.createElement('script');
			script.type = 'text/javascript';
			script.src = 'https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&'+'callback=initialize';
			document.body.appendChild(script);
			}
			window.onload = loadScript;
		</script>
    	<div id="map">
            <div id="googlemap"></div>
        </div>
        <!-- Google Map | END -->
    </main>
{% endblock %}

