{% load static %}
<div id="nav">
    <div class="centre">
        <a href="index.html" class="logo"><img alt="" src="{% static "images/logo.png" %}"/></a>
        <nav>
            <ul>
            	<li class="mobile"><a href="/comtact" class="navbook">Оставить отзыв</a></li>
                <li><a href="/">Главная</a>
                </li>
                <li><a href="/accom">Размещение</a>
                </li>
                <li><a href="/contact">Конакты</a>
                </li>
                <li><a href="/guest-book">Гостевая книга</a></li>
            </ul>
            <a id="pull"><i class="fa fa-bars"></i></a>
        </nav>
        <a href="contact.php" class="book"><span data-hover="Оставить отзыв">Отзыв</span> <i class="fa fa-check-circle"></i></a>
        <div class="shadow"></div>
    </div>
</div>